*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    width: 80%;
    padding-top:10px;
    margin: auto;
    align-items: center;
  
  }

nav{
  flex:0.8;
  justify-content: flex-end;
}
  

.logo{
 flex:1;
  padding-top:10px;
 } 

.nav-link{
    font-size: 18px;
    text-decoration: none;
     color: black;
     margin-left:40px;
}

.logo,.nav-links{
  display:flex;
}

li{
  list-style: none;
  }
  

  
